@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.login_cont_area {
  width: 440px;
  height: 598px;
  margin: 0 auto;
}
.title_area {
  margin-bottom: 30px;
}
.login_cont_area .title {
  font-size: 34px;
  text-align: center;
  font-weight: 500;
}
.login_cont_area .title .ft_c {
  font-size: 34px;
  color: #d7223c;
  font-weight: 500;
}
.login_cont_area .login_inp_area {
  margin: 0 0 20px;
}

.login_cont_area .login_inp_area .box:nth-child(1) {
  margin-bottom: 10px;
}
.login_cont_area .login_inp_area .box #user_id {
  width: 380px;
  height: 54px;
  padding: 0 10px 0 48px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.login_cont_area .login_inp_area .box #user_pw {
  width: 380px;
  height: 54px;
  padding: 0 10px 0 48px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

/* 로그인버튼  */
.login_cont_area .link_btn_area {
  background-color: #000;
  height: 64px;
  border-radius: 5px;
  font-weight: 450;
}

.login_cont_area .link_btn_area a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 64px;
  text-align: center;
  color: #ffffff;
}

.login_cont_area .login_etc_area .list > li {
  font-size: 15px;
  list-style: none;
  display: inline-block;
  margin: 10px;
  color: #868886;
}
.login_cont_area .login_etc_area .list > li:nth-child(2) {
  margin-left: 44px;
}

/*(배치) 회원가입 버튼 / 아이디/비밀번호 찾기 버튼 */
.login_cont_area .link_btn_area2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 450;
}
/* 회원가입 버튼 / 아이디/비밀번호 찾기 버튼 */
.login_cont_area .link_btn_area2 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #000;
  color: #ffffff;
  width: 48%;
  height: 64px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.login_cont_area .link_btn_area2 a:nth-child(1) {
  margin-right: 15px;
}
.login_cont_area .link_btn_area2 a:hover {
  background-color: #1f1f1f;
  border-radius: 5px;
}
/* SNS 간편 로그인 */
.login_cont_area .sns_area .list > li {
  list-style: none;
}
.login_cont_area .sns_area .list > li > a {
  display: flex;
  width: 100%;
  height: 64px;
  font-size: 15px;
  color: #868886;
  margin-bottom: 10px;
  font-weight: 450;
}
.login_cont_area .sns_area .list > li > a .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 64px;
  color: #000;
  border-radius: 5px;
}
/* 카카오 배경색 / 호버색  */
.login_cont_area .sns_area .list > li:nth-child(1) > a .text {
  background-color: #fae100;
}
.login_cont_area .sns_area .list > li:nth-child(1) > a .text:hover {
  background-color: #d9c400;
}
/* 네이버 배경색 / 호버색  */
.login_cont_area .sns_area .list > li:nth-child(2) > a .text {
  color: #ffffff;
  background-color: #00aa4b;
}
.login_cont_area .sns_area .list > li:nth-child(2) > a .text:hover {
  background-color: #00843c;
}
